extend layout

block content
  div.container
    div.header.clearfix
         nav
                    ul(class='nav nav-pills pull-right')
                        li(role='presentation')
                            a(href='/')
                                i(class="fa fa-home")
                                span  Index
                        if locals.connected == true
                            li(role='presentation')
                                a(href='/insert-metrics')
                                    i(class="fa fa-plus")
                                    span  Insert metrics
                            li(role='presentation',class="active")
                                a(href='/display-metrics')
                                    i(class="fa fa-pie-chart")
                                    span  Display metrics
                            li(role='presentation')
                                a(href='/generate-user-db')
                                    i(class="fa fa-database")
                                    span  Generate users database
                            li(role='presentation')
                                a(href='/logout')
                                    i(class="fa fa-sign-out")
                                    span  Logout #{locals.user}

    div.jumbotron
        h1
            i(class="fa fa-pie-chart")
            span  display metrics

        div#display-metrics


  script
    :coffee-script
      $('#get-metrics').click (e) ->
        e.preventDefault()
        $.getJSON '/metrics.json', (data) ->
          $('#content').empty()
          c = "<table class=\"table table-bordered table-hover\"><thead><tr><th>TIMESTAMP</th><th>VALUE</th></tr></thead><tbody>"
          for metric in data
            c += "<tr><td>timestamp: #{metric.timestamp}</td><td>value: #{metric.value}</td></tr>"
            c += "</tbody></table>"
          $('#content').append c

      salesData = [
        {
          label: 'Basic'
          color: '#3366CC'
        }
        {
          label: 'Plus'
          color: '#DC3912'
        }
        {
          label: 'Lite'
          color: '#FF9900'
        }
        {
          label: 'Elite'
          color: '#109618'
        }
        {
          label: 'Delux'
          color: '#990099'
        }
      ]
      svg = d3.select('#display-metrics').append('svg').attr('width', 700).attr('height', 400)

      randomData = ->
        salesData.map (d) ->
          {
            label: d.label
            value: 1000 * Math.random()
            color: d.color
          }

      svg.append('g').attr 'id', 'salespie'
      gradPie.draw 'salespie', randomData(), 200, 200, 160
