extend layout 



block content
  div.container.jumbotron
    div.col-md-6.col-md-offset-3
        h1 Lab ExpressJS - #{locals.title}
        p
          button.btn.btn-success#get-metrics Hello world
          div.well
            p.small
                #content
  
  script
    :coffee-script
      $('#get-metrics').click (e) ->
        e.preventDefault()
        $.getJSON '/metrics.json', (data) ->
          $('#content').empty()
          c = "<table class=\"table table-bordered table-hover\"><thead><tr><th>TIMESTAMP</th><th>VALUE</th></tr></thead><tbody>"
          for metric in data 
            c += "<tr><td>timestamp: #{metric.timestamp}</td><td>value: #{metric.value}</td></tr>"
            c += "</tbody></table>"
          $('#content').append c