<!DOCTYPE html>
<head>
  <title></title>
  <script src="../public/js/jquery-2.1.4.min.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body></body>
<div class="content">
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <button id="get-metrics" class="btn btn-success">Hello world</button>
        <div id="content"></div>
      </div>
    </div>
    <script>(function() {
  $('#get-metrics').click(function(e) {
    e.preventDefault();
    return $.getJSON('/metrics.json', function(data) {
      var c, i, len, metric;
      $('#content').empty();
      c = "";
      for (i = 0, len = data.length; i < len; i++) {
        metric = data[i];
        c += "<p>timestamp: " + metric.timestamp + "<br/>value: " + metric.value + "</p>";
      }
      return $('#content').append(c);
    });
  });

}).call(this);

    </script>
  </div>
</div>