doctype html 
head 
  title ExpressJS Lab
  script(src="/js/jquery-2.1.4.min.js")
  script(src="http://d3js.org/d3.v3.min.js")
  script(src="/js/chart.js")
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/jumbotron-narrow.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

body
    block content