doctype html 
head 
  title #{locals.title}
  script(src="/js/jquery-2.1.4.min.js")
  script(src="/js/bootstrap.min.js")
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/jumbotron-narrow.css")

  body

block content