extend layout

block content
  div.container
    div.header.clearfix
         nav
                    ul(class='nav nav-pills pull-right')
                        li(role='presentation',class="active")
                            a(href='/')
                                i(class="fa fa-home")
                                span  Index
                        if locals.connected == true
                            li(role='presentation')
                                a(href='/my-metrics')
                                    i(class="fa fa-table")
                                    span  My metrics
                            li(role='presentation')
                                a(href='/logout')
                                    i(class="fa fa-sign-out")
                                    span  Logout [ #{locals.user} ]

    if locals.error_login == true
        div(class="alert alert-danger")
            a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
            p
                b Connection error
                p Check your login and password! It might be wrong.
    div.jumbotron
        h1
            i(class="fa fa-flask")
            span  ExpressJS Lab
        if locals.connected == false
            p
                i(class="fa fa-sign-in")
                span  Connection form
            form(name="login", action="/login", method="post")
                div.form-group
                  label(for="user") User
                  input(type="text", name="user", id="user", class="form-control")
                div.form-group
                  label(for="pass") Password
                  input(type="password", name="pass", id="pass", class="form-control")
                div.form-group
                  button(type="submit", class="btn btn-success btn-sm") Valider

            p Just bellow, a set of login/password which can be used to connect (click on the button)
            p
                button(id="get-users",class="btn btn-primary btn-sm")
                    i(class="fa fa-users")
                    span  Display existing users in database

            div#users-table

            p
                a(href="/signup") Create a account !


        else
            p You are already connected

  script
    :coffee-script
      $('#get-users').click (e) ->
        e.preventDefault()
        $.getJSON '/users.json', (data) ->
          $('#users-table').empty()
          c = "<table class=\"table table-bordered table-hover\"><thead><tr><th>User</th><th>Password</th></tr></thead><tbody>"
          for users in data
            c += "<tr><td>#{users.user}</td><td>#{users.pass}</td></tr>"
          $('#users-table').append c
          c = "</tbody></table>"
          $('#users-table').append c